---

---

@import "{{ site.theme }}";

$dark-purple: #0d0016;
$blood-red: #9c0003;
$snow-white: #fffafa;

body {
    color: $snow-white;
}

h1, h2, h3, h4, h5, h6 {
    color: $blood-red;
}

ul li {
    list-style-image:url('../images/icons/bullet.png');
    text-shadow: 0 0 2px $blood-red;
}

ul li:hover {
    transition: all 0.3s ease; /* Smooth transition for the hover effect */
    transform: translateX(5px); /* Move the item 5px to the right on hover */
}

th, hr {
    border-bottom: 1px dashed $blood-red;
}

table {
    color: $snow-white;
}

/* Add a hover effect to single cells in the table */
tr td:hover {
    background-color: $blood-red;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 20px; 
}

.transparent-button {
  /* Core styles */
  background: transparent; /* Makes the background transparent */
  color: $snow-white; /* Sets the text color to white */
  border: 2px solid $snow-white; /* Adds a solid white border */
  border-radius: 8px; /* Optional: for rounded corners */
  padding: 12px 24px; /* Space inside the button */
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

/* Hover and active effects */
.transparent-button:hover {
  background: $blood-red; /* Fills the background with blood red on hover */
  color: $snow-white; /* Changes the text color to a dark color on hover */
}

.transparent-button:active {
  transform: scale(0.98); /* Makes the button look like it's being pressed */
}

#hiddenText {
  color: $snow-white;
  font-size: 16px;
}

/*Filter styles*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }

/* The overlay covers the entire screen */
.popup-overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stays in place relative to the viewport */
    z-index: 1; /* Sits on top of other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
    /* Adds animation for a smoother appearance */
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

/* The actual popup box */
.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centers the popup vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Adjust width as needed */
    border-radius: 5px;
    position: relative;
    text-align: center;
}

/* Class to make the popup visible */
.popup-overlay.active {
    display: block;
}

/* Animation for the fade-in effect */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}