---

---

@import "{{ site.theme }}";

$blood-red: #9c0003;

h1, h2, h3, h4, h5, h6 {
    color: $blood-red;
}

li {
    color: $blood-red;
}

ol {
    color: $blood-red;
}

hr {
    color: $blood-red;
}
